@charset "utf-8";

/* Element Reset */
html,
body{ height:100%;}
body,
input, 
textarea,
select,
button { font-size:12px; font-family:Dotum, 돋움, Tahoma, Verdana, AppleGothic, Sans-serif;}
em { font-style:normal;}
form,
fieldset { border:0; margin:0; padding:0;}
img { border:0; max-width:none;}
hr, legend { display:none;}

/* Layout */
#xe { position:relative; width:100%;}
div.bg { background:url(../../images/green/bgMenu1.png) repeat-x;}

/* Link */
a:link { color:#555; text-decoration:none;}
a:visited { color:#555; text-decoration:none;}
a:hover { color:#79b139; text-decoration:underline;}
a:active { color:#555; text-decoration:none;}

/* Common Class */
.alt { position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden;}
.aLeft { text-align:left !important;}
.aRight { text-align:right !important;}
.fLeft { float:left;}
.fRight { float:right;}
.mt2 { margin-top:2px;}
.mt4 { margin-top:4px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px;}
.mt20 { margin-top:20px;}
.mb2 { margin-bottom:2px;}
.mb4 { margin-bottom:4px;}
.mb5 { margin-bottom:5px;}
.mb10 { margin-bottom:10px;}
.mb20 { margin-bottom:20px;}
.pd2 { padding:2px;}
.pd5 { padding:5px;}
.pd7 { padding:7px;}
.pd9 { padding:9px;}
.pd15 { padding:15px;}
.pdL5 { padding-left:5px;}
.pdT2 { padding-top:2px;}
.pdT5 { padding-top:5px;}
.pdT8 { padding-top:8px;}
.pdT10 { padding-top:10px;}
.pdT15 { padding-top:15px;}
.pdT20 { padding-top:20px;}
.pdB2 { padding-bottom:2px;}
.pdB5 { padding-bottom:5px;}
.pdB8 { padding-bottom:8px;}
.pdB10 { padding-bottom:10px;}
.pdB15 { padding-bottom:15px;}
.pdB20 { padding-bottom:20px;}
.bgF6 { background-color:#f6f6f6;}
.box1px { border:1px solid #dedede;}
.box2px { border:2px solid #dedede;}
.box3px { border:3px solid #dedede;}
.boxL { border-left:1px solid #dedede;}
.boxT { border-top:1px solid #dedede;}
.boxR { border-right:1px solid #dedede;}
.boxB { border-bottom:1px solid #dedede;}
.uline1 { border-bottom:1px solid #999;}
.uline2 { border-bottom:2px solid #999;}
.newsBox { padding:34px 20px 0 20px; border-color:#dedede #dedede #dedede #dedede; border-style:solid; border-width:0 1px 1px 1px; }
.taC { text-align:center; }
.bul { margin:0 0 2px 0; vertical-align:middle;}
.bt1 { border-top:solid 1px #dedede;}
.gnb, .lnb, .lnb ul, .mp0, p { margin:0; padding:0;}
.pointer { cursor:pointer;}
.bgTop { border:0 solid #fafafa; background: url(../../images/green/bg_top.gif) repeat-x left top; }
.box-shadow { 
-moz-box-shadow: 3px 3px 5px #969696; /* for Firefox 3.5+ */
-webkit-box-shadow: 3px 3px 5px #969696; /* for Safari and Chrome */
box-shadow: 3px 3px 5px #969696;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=4); /* for IE 5.5 - 8 */
}

/* Corner radius */
.corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.corner-all { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.corner-all-3px { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.corner-all-5px { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

/* Anchor Button */
a.buttonl,
a.buttonl span { display:inline-block; position:relative; text-decoration:none !important; background:url(../../images/green/buttonW.gif) no-repeat; cursor:pointer; white-space:nowrap; vertical-align:middle;}
a.buttonl { padding:0; background-position:left top; overflow:visible;}
a.buttonl span { left:2px; padding:6px 10px 5px 8px; color:#000; font:12px/12px Dotum; background-position:right top; *vertical-align:top;}
/* Normal Size */
a.buttonl.normal { background-position:left 0; }
a.buttonl.normal span { padding:7px 10px 6px 8px; font:12px/12px Dotum; background-position:right 0;}
/* Large Size */
a.buttonl.large { background-position:left -30px; }
a.buttonl.large span { padding:7px 10px 6px 8px; font:14px/14px Dotum; background-position:right -30px;}
/* xLarge Size */
a.buttonl.xLarge { background-position:left -69px; }
a.buttonl.xLarge span { padding:8px 10px 7px 8px; font:16px/16px Dotum; background-position:right -69px;}
/* Small Size */
a.buttonl.small { background-position:left -115px; }
a.buttonl.small span { padding:3.5px 6px 3px 4px; font:11px/11px Dotum; background-position:right -115px;}

/* Control Button + Submit Button */
span.buttonl,
span.buttonl button,
span.buttonl input { display:inline-block; position:relative; font:12px Dotum; white-space:nowrap; border:0; margin:0; background:url(../../images/green/buttonW.gif) no-repeat; vertical-align:middle;}
span.buttonl { padding:0; background-position:left top;}
span.buttonl button,
span.buttonl input { height:23px; left:2px; *vertical-align:top; padding:0 10px 0 8px; line-height:24px; background-position:right top; cursor:pointer; *overflow:visible;}
/* Normal Size */
span.buttonl.normal { background-position:left 0;}
span.buttonl.normal button,
span.buttonl.normal input { height:23px; padding:0 10px 0 8px; font:12px/23px Dotum; background-position:right 0;}
/* Large Size */
span.buttonl.large { background-position:left -30px;}
span.buttonl.large button,
span.buttonl.large input { height:33px; padding:0 10px 0 8px; font:14px/33px Dotum; background-position:right -30px;}
/* xLarge Size */
span.buttonl.xLarge { background-position:left -69px;}
span.buttonl.xLarge button,
span.buttonl.xLarge input { height:39px; padding:0 10px 0 8px; font:16px/39px Dotum; background-position:right -69px;}
/* Small Size */
span.buttonl.small { background-position:left -115px;}
span.buttonl.small button,
span.buttonl.small input { height:15px; padding:0 6px 0 4px; font:11px/15px Dotum; background-position:right -115px;}

/* Site Layout - Top GNB */
.top_gnb { z-index:10000; }
.top_gnb .top_box { z-index:10001; }
.top_gnb .top_left { z-index:10001; }
.top_gnb .gnb { position:relative; height:20px; margin:-3px 0 2px 0; *zoom:1;}
.top_gnb .gnb:after { content:""; display:block; clear:both;}
.top_gnb .gnb p { display:block; float:left; width:370px; margin:0; padding:0;}
.top_gnb .gnb p a { height:20px; line-height:20px; font:11px;}

.top_gnb .gnb ul { position:relative; margin:0; padding:0; list-style:none; white-space:nowrap; line-height:20px;}
.top_gnb .gnb li { position:relative; float:left; }
.top_gnb .gnb li:first-child span { border:0;}
.top_gnb .gnb li, 
.top_gnb .gnb li.my a { background-image:url(../../images/iconGnb.gif); background-repeat:no-repeat; background-position:right 30px;}
.top_gnb .gnb li.my a { background-position:right -35px;}
.top_gnb .gnb li a { display:block; float:left; height:20px; line-height:20px; font-size:11px; background:url(../../images/green/login_bar.gif) no-repeat left 5px;}
.top_gnb .gnb li span { position:relative; padding:0 6px;}
.top_gnb .gnb li.my span { padding-right:22px; background:url(../../images/green/login_bar.gif) no-repeat left 1px;}

.top_gnb .gnb li.active {}
.top_gnb .gnb .fLeft li:first-child.active { margin-left:-1px;}
.top_gnb .gnb li.active a {}
.top_gnb .gnb li.my.active a { background-position:right -65px;}
.top_gnb .gnb li.active span {}

.top_gnb .gnb li ul { display:none; position:absolute; top:20px; right:0; float:none; padding:0 1px 1px; border:1px solid #878787; background:#fff; *width:140px;}
.top_gnb .gnb li.active ul { display:block;}
.top_gnb .gnb li li { float:none; left:0; border:0 !important; margin:0 !important;}
.top_gnb .gnb li li.active { background:none;}
.top_gnb .gnb li.my li a { float:none; height:21px; line-height:21px; padding:0 6px; color:#767676; background-position:right 30px !important;}
.top_gnb .gnb li.my.myLanguage li a { padding-right:21px;}
.top_gnb .gnb li.my.myLanguage li.selected a { background-position:right -92px !important;}
.top_gnb .gnb li li a:hover,
.top_gnb .gnb li li a:active,
.top_gnb .gnb li li a:focus { color:#333; text-decoration:none !important; background-color:#e8eef7;}

/* Site Layout - Select Language */
.select_language { position:absolute; width:185px; top:0; right:0; font:11px Arial, Dotum; z-index:10; }
.select_language .language_title { float:left; display:inline; margin:2px 7px; }
.select_language .language_line { float:right; display:inline; width:82px; border:1px solid #ccc; background:#fff; }
.select_language .language_line .select_language_button { background:url(../../images/language_arrow.gif) no-repeat right top; }
.select_language .language_line .select_language_button button { position:relative; display:inline-block; overflow:hidden; cursor:pointer; width:80px; height:17px; text-align:left; vertical-align:middle; text-indent:2px; font:11px Arial, Dotum !important; color:#555; white-space:nowrap; margin:0; padding:0; border:0 solid #eee; background:none; }
.select_language .language_line ul { display:none; overflow:hidden; list-style:none; margin:0; padding:0; border-top:1px solid #eee; background:#fff; }
.select_language .language_line li { font:11px Arial, Dotum; color:#555; margin:0; padding:0 0 0 3px; }
.select_language .language_line li em { font-style:normal; }
.select_language .language_line li button { cursor:pointer; width:100%; font:11px Arial, Dotum; white-space:nowrap; text-align:left; margin:0; padding:0; border:0; background:none; }
.select_language .language_line li:hover { background:#eee;}

/* Site Layout - Main Menu */
.main_menu { border-bottom:0 solid #dedede; background:url(../../images/green/bgMenu1.png) repeat-x left top; _z-index:9; *z-index:9; }
.main_menu .tdate { position:absolute; left:15px; top:10px; }
.main_menu .tdate .first-child { color: yellow; padding: 2px 0 2px 0; }
.main_menu .gnb li { position:relative; float:left; height:35px; left:0; list-style:none; white-space:nowrap; margin:0; padding:0 0 0 2px; }
.main_menu .gnb li a { display:block; float:left; font-weight:bold; color:#fff; white-space:nowrap; text-decoration:none; }
.main_menu .gnb li a span { display:block; padding:12px 9px; }
.main_menu .gnb li a:hover { color:#fff }
.main_menu .gnb li a:focus { color:#fff }
.main_menu .gnb li a:visited { color:#fff }
.main_menu .gnb li.on { position:relative; height:35px; margin:0 0 0 2px; padding:0; background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; }
.main_menu .gnb li.on a { height:35px; color:#fff; background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; }

.main_menu .roll_gnb li { position:relative; float:left; height:35px; left:0; list-style:none; white-space:nowrap; margin:0; padding:0 0 0 2px; }
.main_menu .roll_gnb li a { display:block; float:left; font-weight:bold; color:#fff; white-space:nowrap; text-decoration:none; }
.main_menu .roll_gnb li a span { display:block; padding:12px 9px; }
.main_menu .roll_gnb li.selected { position:relative; height:35px; margin:0 0 0 2px; padding:0; background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; }
.main_menu .roll_gnb li.selected a { height:35px; color:#fff; background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; }
.main_menu .roll_gnb li a:hover { color:#fff }
.main_menu .roll_gnb li a:focus { color:#fff }
.main_menu .roll_gnb li a:visited { color:#fff }
.main_menu .roll_gnb li.on { position:relative; margin:0 0 0 2px; padding:0; }
.main_menu .roll_gnb li.on:hover { height:35px; background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; _background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; }
.main_menu .roll_gnb li.on a { color:#fff }
.main_menu .roll_gnb li.on a:hover { height:35px; background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; _background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; }

.main_menu .new_bg { position:absolute; width:23px; height:14px; top:-6px; left:525px; background:url(../../images/new.gif) no-repeat left top; z-index:101; }
.main_menu .hot_bg { position:absolute; width:23px; height:14px; top:-6px; left:85px; background:url(../../images/hot.gif) no-repeat left top; z-index:101; }
.main_menu .up_bg { position:absolute; width:16px; height:14px; top:-6px; left:300px; background:url(../../images/up.gif) no-repeat left top; z-index:101; }

#drop_gnb { position:absolute; left:0; z-index:1001; }
#drop_gnb a,
#drop_gnb a span { text-decoration:none; }
#drop_gnb ul,
#drop_gnb li { list-style:none; margin:0; padding:0; }
#drop_gnb .ul1 { display:block; }
#drop_gnb .on1 { background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; }
#drop_gnb .on1 .selectedR { background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; }
#drop_gnb .li1 { position:relative; float:left; height:35px; list-style:none; white-space:nowrap; margin:0 0 0 2px; padding:0; }
#drop_gnb .li1:hover { background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; _background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; }
#drop_gnb .a1 { display:block; overflow:hidden; color:#fff; font-weight:bold; }
#drop_gnb .a1 span { display:block; padding:12px 9px;}
#drop_gnb .a1:hover { color:#fff; background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; _background:url(../../images/green/bgMenuOn1.gif) no-repeat left top; }
#drop_gnb .on1 .a1 { color:#fff; background:url(../../images/green/bgMenuOnR1.gif) no-repeat right top; }
#drop_gnb .ul2 { display:none; position:absolute; left:0; top:35px; border-bottom:1px solid #79b139; background:url(../images/blank.gif) repeat left top; z-index:1001; }
#drop_gnb .ul2 li { position:relative; font-size:12px; border:1px solid #79b139; border-bottom:0; }
#drop_gnb .ul2 a { display:block; overflow:hidden; width:150px; height:27px; background-color:#fff; }
#drop_gnb .ul2 a span { display:block; padding:8px 0 0 10px; }
#drop_gnb .ul2 a:hover,
#drop_gnb .ul2 a:focus { color:#fff; background-color:#63cc63; }
#drop_gnb .sub2 .a2,
#drop_gnb .sub3 .a3 { background:#fff url(../../images/sub.gif) no-repeat 140px center; }
#drop_gnb .on2 .a2,
#drop_gnb .on3 .a3,
#drop_gnb .on4 .a4 { color:#fff; background-color:#63cc63; }
#drop_gnb .ul2 ul { display:none; position:absolute; left:150px; top:-1px; _top:0; border-bottom:1px solid #79b139; background:url(../images/blank.gif) repeat left top; z-index:1002; }

/* Site Layout - Main 2nd Menu */
.gnb2 li { position:relative; float:left; width:auto; left:-2px; list-style:none; font-size:12px; white-space:nowrap; margin:0; padding:0; }
.gnb2 li a { display:block; letter-spacing:-1px; text-decoration:none; padding:4px 8px 4px 8px; background:url(../../images/green/bgGnb2Vr_1x8.gif) no-repeat left 5px; }
.gnb2 li a:hover, .gnb2 li a:focus { letter-spacing:-1px; color:#79b139 !important; padding-bottom:2px; }
.gnb2 li.on a { padding-bottom:2px; font-weight:bold; color:#79b139 !important; letter-spacing:-1px; border-bottom:0px solid #79b139; }
.roll_gnbSub li { position:relative; float:left; width:auto; left:-2px; list-style:none; font-size:12px; white-space:nowrap; margin:0; padding:0; }
.roll_gnbSub li a { display:block; letter-spacing:-1px; text-decoration:none; padding:4px 8px 4px 8px; background:url(../../images/green/bgGnb2Vr_1x8.gif) no-repeat left 5px; }
.roll_gnbSub li a:hover, .roll_gnbSub li a:focus { letter-spacing:-1px; color:#79b139 !important; padding-bottom:2px; }
.roll_gnbSub li.on a { font-weight:bold; color:#79b139 !important; letter-spacing:-1px; padding-bottom:2px; border-bottom:0px solid #79b139; }

#content { overflow:hidden; width:100%; }
.png_w30_bg { background:url(../../images/opacity_w30.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_w50_bg { background:url(../../images/opacity_w50.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_w80_bg { background:url(../../images/opacity_w80.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_b30_bg { background:url(../../images/opacity_b30.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_b50_bg { background:url(../../images/opacity_b50.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_b80_bg { background:url(../../images/opacity_b80.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_gray50_bg { background:url(../../images/opacity_gray50.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}
.png_gray80_bg { background:url(../../images/opacity_gray80.png) repeat left 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/blank.gif', sizingMethod='scale');}

/* Login Layer */
.mwLogin{ display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; _height:1500px; z-index:10000;}
.mwLogin.open{ display:block;}
.mwLogin .bg{ position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.3; -moz-opacity:.3; -webkit-opacity:.3; filter:alpha(opacity=30);}
#loginW{ position:absolute; width:258px; top:22px; left:50%; padding:28px 28px 0 28px; margin:0 0 0 172px; border:2px solid #555; font-size:12px; font-family:Tahoma, Geneva, sans-serif; line-height:normal; background:#fff; white-space:normal; color:#767676;}
#loginW form{ display:none; margin:0; padding:0;}
#loginW fieldset{ border:0; margin:0; padding:0;}
#loginW legend{ position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden;}
#loginW .btnLogin,
#loginW .btnLogin input{ display:inline-block; position:relative; margin:0; padding:0; overflow:visible; height:23px; line-height:23px; font-size:12px; font-weight:bold; color:#333; vertical-align:middle; cursor:pointer; border:0; text-decoration:none !important; background:transparent url(../../images/free/buttonW.gif) no-repeat;}
#loginW .btnLogin{ margin:0 4px 0 0; background-position:left top;}
#loginW .btnLogin input{ left:4px; background-position:right top; *vertical-align:top; padding:0 15px 0 15px;}
#loginW .iClear{ position:relative;}
#loginW .iText{ display:block; position:relative; font:bold 11px Tahoma; height:14px; color:#767676; border:1px solid #b7b7b7; background:transparent;}
#loginW .help{ display:block; position:relative; float:none; border:0; border-top:1px solid #d9d9d9; background:#fafafa; padding:15px 0; margin:0 -28px; list-style:none; text-align:center; *zoom:1;}
#loginW .help li{ display:inline; float:none; border-left:1px solid #c3c3c3 !important; padding:0 6px 0 10px; margin:0; line-height:1;}
#loginW .help li.first{ border:0 !important;}
#loginW .help a{ display:inline; float:none; background:none; line-height:1; padding:0; font-size:11px; font-family:Dotum, 돋움, Sans-serif; color:#767676; text-decoration:none;}
#loginW .help a:hover,
#loginW .help a:active,
#loginW .help a:focus{ text-decoration:underline; color:#000;}
#loginW .gLogin .iLabel{ position:absolute; top:9px; left:10px; font:bold 11px Tahoma;}
#loginW .gLogin .iText{ _display:inline; width:246px; padding:8px 0 6px 10px; margin:0 0 5px 0;}
#loginW .gLogin .btnLogin{ position:absolute; top:103px; right:28px;}
#loginW .gLogin .keeping{ float:none; height:23px; line-height:23px; margin:10px 0; padding:0;}
#loginW .gLogin .keeping label{ position:static; cursor:pointer; font-family:Dotum, 돋움, Thahoma;}
#loginW .gLogin .iCheck{ width:13px; height:13px; margin:0 4px 0 0; padding:0; vertical-align:middle;}
#loginW .gLogin .warning{ display:none; float:none; margin:10px 0; line-height:1.4;}
#loginW .gLogin .warning.open{ display:block;}
#loginW .oLogin{ text-align:center;}
#loginW .oLogin .iLabel{ position:absolute; top:9px; left:36px; font:bold 11px Tahoma;}
#loginW .oLogin .iText{ width:221px; padding:8px 0 6px 35px; margin:0; background:url(../../images/iconOpenId.gif) no-repeat 10px center;}
#loginW .oLogin .btnLogin{ margin-top:10px; margin-bottom:10px;}
#loginW.gLogin .gLogin,
#loginW.oLogin .oLogin{ display:block;}
#loginW .close{ position:absolute; top:0; right:0; width:25px; height:25px; border:0; padding:0; background:transparent; overflow:visible; cursor:pointer; text-align:center; font:11px/25px Verdana, Geneva, sans-serif; color:#ccc; text-decoration:none !important;}

/* Site Layout - service_wrap */
#service_wrap { clear:both; position:relative; height:30px; padding:0; border-color:#999 #dedede #dedede #dedede; border-style:solid; border-width:2px 0 0 0; }
#service_wrap .svc_bg { position:absolute; width:100%; height:30px; top:0; background:#fff; opacity:.7; filter:alpha(opacity:70);}
#service_wrap p.left { position:absolute; color:#555; font-weight:bold; font-size:11px; letter-spacing:-1px; top:0; margin:0; padding:10px 10px 10px 10px; z-index:10; }
#service_wrap .svc_menu { position:absolute; overflow:hidden; left:90px; top:0; margin:0; padding:10px 0; z-index:10; }
#service_wrap .svc_menu li { display:inline; white-space:nowrap; font-size:11px; padding:0 1px 0 6px; background:url(../../images/green/line_v_footer.gif) no-repeat left 0; }
#service_wrap .svc_right { position:absolute; right:0; text-align:right; font-weight:bold; font-size:11px; letter-spacing:-2px; padding:10px 20px 10px 15px; background:url(../../images/plus.gif) no-repeat left center; z-index:10;}

/* Site Layout - Sitemap */
#sitemap a { text-decoration:none;}
#sitemap a:hover,
#sitemap a:active,
#sitemap a:focus { text-decoration:underline;}
#sitemap { display:none; }
#sitemap .extension { *zoom:1; clear:both; position:relative; padding:15px 0px 8px 20px; border-color:#dedede #dedede #dedede #dedede; border-style:solid; border-width:1px 0 0 0; z-index:10;}
#sitemap .extension:after { clear:both; display:block; content:"";}
#sitemap .extension .section { float:left; width:105px; margin:0; padding:0 15px 0 0;}
#sitemap .extension .section h2 { font-size:11px; margin:0 0 10px 0;}
#sitemap .extension .section a {}
#sitemap .extension .section ul { list-style:none; margin:0; padding:0;}
#sitemap .extension .section li { font-size:11px; margin-bottom:6px;}

#sitemap2 a { text-decoration:none;}
#sitemap2 a:hover,
#sitemap2 a:active,
#sitemap2 a:focus { text-decoration:underline;}
#sitemap2 { clear:both; position:relative; width:100%;}
#sitemap2 .extension { *zoom:1; clear:both; position:relative; padding:15px 0px 8px 20px; border-color:#dedede #dedede #dedede #dedede; border-style:solid; border-width:1px 0 0 0; z-index:10;}
#sitemap2 .extension:after { clear:both; display:block ;content:"";}
#sitemap2 .extension .section { float:left; width:105px; margin:0; padding:0 15px 0 0;}
#sitemap2 .extension .section h2 { font-size:11px; margin:0 0 10px 0;}
#sitemap2 .extension .section a {}
#sitemap2 .extension .section ul { list-style:none; margin:0; padding:0;}
#sitemap2 .extension .section li { font-size:11px; margin-bottom:6px;}

/* Site Layout - Footer */
#footer { clear:both; position:relative; width:100%; height:75px; border-color:#dedede #dedede #333 #dedede; border-style:solid; border-width:1px 0 0; }
#footer .foot_bg { position:absolute; width:100%; height:75px; top:0; background:#fff; opacity:.6; filter:alpha(opacity:60);}
#footer h1 { position:absolute; top:10px; margin:0; padding:5px 0 10px 19px; border-right:0 solid #dedede; width:180px; z-index:10;}
#footer .foot_menu { position:relative; overflow:hidden; height:15px; top:10px; text-align:center; margin:0; padding:5px 0; z-index:10;}
#footer .foot_menu li { display:inline; white-space:nowrap; font-size:11px; padding:0 1px 0 6px; background:url(../../images/green/line_v_footer.gif) no-repeat left 0; z-index:10; }
#footer .foot_menu li.snb_0 { background:none; }
#footer select { position:absolute; width:120px; height:18px; right:0; font-size:11px; color:#999; top:30px; border:1px solid #dedede; z-index:10; }
#footer p.top { position:absolute; top:5px; right:10px; margin:0; z-index:10; }
#footer p.copyright { position:relative; top:7px; font-size:11px; text-align:center; z-index:10; }
#footer p.copyright a { font-size:11px; z-index:10; }
#footer p.copyright a:hover, #footer p.copyright a:focus { font-size:11px;}
#footer address { position:relative; top:7px; text-align:center; font-family:Tahoma; font-size:11px; font-style:normal; padding-top:2px; z-index:10; }
#footer .skinby { position:absolute; right:0; font-size:11px; color:#999; top:52px; z-index:10; }

/* Search Border */
.Search { border: 5px solid #79b139 !important; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.iSearch { border: 4px solid #79b139 !important; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.ggSearch { border: 1px solid #79b139 !important; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.xSearch { border: 1px solid #79b139 !important; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

/* Google Search Watermark */
.watermark { background:#fff url(../../images/google_search_watermark.gif) no-repeat 6px 7px; }
.watermark2 { background:#fff url(../../images/google_search_watermark.gif) no-repeat 5px 5px; }
.watermark3 { background:#fff url(../../images/google_search_watermark.gif) no-repeat 4px 3px; }

/* Side Menu Border Color */
.lnbWrap { border: 1px solid #dedede; }

/* Side Menu Title Font Color */
.lnbWrap .subtitle { color: #3c3c3c; padding:10px 0; border-bottom:2px solid #79b139; }

/* Side 2nd Menu Font Color */
.lnb li a:hover, .lnb li a:focus { color:#79b139; }
.lnb li.on a { color:#79b139; background:url(../../images/green/bulletLnb.gif) no-repeat 0 10px;}

/* Side 3rd Menu Font Color */
.lnb li ul li a:hover, .lnb li ul li a:focus { color:#79b139; }
.lnb li.on ul li a:hover, .lnb li ul li a:focus { color:#79b139; }
.lnb li.on ul li a { color:#555; }
.lnb li.on ul li.on a { color:#79b139; background:url(../../images/green/lnb_sub.gif) no-repeat 0 5px !important;}

/* Footer */
.footer {}
.copyright { color:#555 }

/* Slide Menu */
.slideWrap { margin:0 auto; }
.slideWrap .slideArea { position:relative; z-index:2; }

.slideWrap .slideArea #slideMenu { position:absolute; width:80px; top:0; right:-84px; }
#slideMenu .section { margin:0; }

.slideWrap .slideArea #updown { position:absolute; width:25px; height:28px; top:-69px; right:-29px; }
#updown .up { width:25px; height:14px }
#updown .up a { display:block; width:25px; height:14px; background: url(../../images/green/quick_up.gif) no-repeat; }
#updown .up a:hover { background-position: 0 -14px; }
#updown .up a span { display:none }
#updown .down { width:25px; height:14px }
#updown .down a { display:block; width:25px; height:14px; background: url(../../images/green/quick_down.gif) no-repeat; }
#updown .down a:hover { background-position: 0 -14px; }
#updown .down a span { display:none }
