@charset "utf-8";

/* Top Menu */
.top_gnb { position:relative; width:100%; height:22px; font-size:11px; }
.top_gnb .top_bg { position:absolute; width:980px; height:22px; top:0; font-size:11px; background:#000; opacity:.2; filter:alpha(opacity:18); }
.top_gnb .top_box { position:relative; width:965px; margin:0; padding:3px 5px 0 10px; }
.top_gnb .top_left { position:absolute; width:300px; text-align:left; padding:0 0 0 3px; }

/* Header */
.bodyWrap { width:980px; margin-top:-22px; }
.headerWrap { position:relative; width:980px; height:280px; }
.headerWrap h1 { position:absolute; left:20px; top:30px; margin:0; padding:0; }
.head_ad_3 { position:absolute; top:0; right:0; text-align:right; }

/* Main Menu */
.main_menu { position:relative; width:980px; height:69px; margin:0 auto 3px; }
.main_menu .gnb { position:absolute; overflow:hidden; left:20px; white-space:nowrap; z-index:10; }
.main_menu .roll_gnb { position:absolute; overflow:hidden; left:20px; white-space:nowrap; margin:0; padding:0; z-index:10; }
#drop_gnb .li1 { left:20px; z-index:101; }

/* Main Menu Ad */
.main_menu .head_ad_4 { position:absolute; width:655px; left:20px; top:45px; }
.main_menu .head_ad_5 { position:absolute; width:300px; top:12px; right:10px; text-align:right; }

/* Main 2nd Menu */
.gnb2 { position:absolute; overflow:hidden; left:20px; top:42px; white-space:nowrap; margin:0; padding:0; z-index:11; }
.roll_gnbSub { position:absolute; overflow:hidden; left:20px; top:42px; white-space:nowrap; margin:0; padding:0; z-index:11; }

/* Search */
.gSearch { position:absolute; top:0; left:154px; text-align:left; padding:0;}
.gSearch .inputText { position:relative; width:320px; height:20px; font-size:14px;font-weight:bold; vertical-align:middle; margin:0; padding:5px 2px 0px 5px; }
.gSearch .submit { vertical-align:middle; padding:0; }
.isSearch { position:absolute; top:40px; right:0; text-align:right; z-index:9; }
.isSearch .inputText { position:relative; width:162px; height:16px; vertical-align:middle; padding:4px 2px 0px 4px; }
.isSearch .submit { vertical-align:middle }

/* Content Body */
.content_Body { clear:both; position:relative; width:980px; margin:3px 0 0 0; padding-bottom:1px; }
.content_Body_top { float:left; overflow:hidden; width:980px; padding:0 0 0 20px; }
.content_Body_bottom { float:left; overflow:hidden; width:980px; padding:0 0 0 20px; }
.columnContent { float:left; overflow:hidden; width:960px; padding:0 0 0 20px; }
.main_bannerLeft { position:absolute; left:-80px; top:0; z-index:100; }
.main_bannerRight { position:absolute; top:0; right:-80px; text-align: right; z-index:100; }