<!--// import js file -->
<!--%import("js/layout.js")-->
<!--%import("js/mwLogin.js")-->
<!--%import("lang")-->

<!--// import layout css file -->
<!--@if($layout_info->colorset == "green")-->
<!--%import("css/xe/layout_green.css")-->
<!--@elseif($layout_info->colorset == "orange")-->
<!--%import("css/xe/layout_orange.css")-->
<!--@elseif($layout_info->colorset == "cyan")-->
<!--%import("css/xe/layout_cyan.css")-->
<!--@elseif($layout_info->colorset == "red")-->
<!--%import("css/xe/layout_red.css")-->
<!--@elseif($layout_info->colorset == "black")-->
<!--%import("css/xe/layout_black.css")-->
<!--@elseif($layout_info->colorset == "free")-->
<!--%import("css/xe/layout_free.css")-->
<!--@else-->
<!--%import("css/xe/layout_blue.css")-->
<!--@end-->
<!--@if(!$layout_info->colorset)-->
{@$layout_info->colorset = "default"}
<!--@end-->

<!--@if($layout_info->x_layout_type == "1")-->
<!--%import("css/xe/1.css")-->
<!--@elseif($layout_info->x_layout_type == "2")-->
<!--%import("css/xe/2.css")-->
<!--@elseif($layout_info->x_layout_type == "2a")-->
<!--%import("css/xe/2a.css")-->
<!--@elseif($layout_info->x_layout_type == "2b")-->
<!--%import("css/xe/2b.css")-->
<!--@elseif($layout_info->x_layout_type == "2c")-->
<!--%import("css/xe/2c.css")-->
<!--@elseif($layout_info->x_layout_type == "2d")-->
<!--%import("css/xe/2d.css")-->
<!--@elseif($layout_info->x_layout_type == "3")-->
<!--%import("css/xe/3.css")-->
<!--@elseif($layout_info->x_layout_type == "3a")-->
<!--%import("css/xe/3a.css")-->
<!--@elseif($layout_info->x_layout_type == "3b")-->
<!--%import("css/xe/3b.css")-->
<!--@elseif($layout_info->x_layout_type == "search")-->
<!--%import("css/xe/search.css")-->
<!--@else-->
<!--%import("css/xe/main.css")-->
<!--@end-->
<!--@if(!$layout_info->x_layout_type)-->
{@$layout_info->x_layout_type = "main"}
<!--@end-->

<!--@if($layout_info->colorset == "free")-->
   <!--#include("free.html")-->
<!--@end-->

<style type="text/css">
<!--@if($layout_info->background_image)-->
body { background:url({$layout_info->background_image}) {$layout_info->body_repeat} {$layout_info->body_array} 0; }
<!--@end-->
<!--@if($layout_info->body_bg_color)-->
body { background-color:{$layout_info->body_bg_color}; }
<!--@else-->
body { background-color:#fff; }
<!--@end-->
<!--@if($layout_info->bodyWrap_image)-->
.bodyWrap { background:url({$layout_info->bodyWrap_image}) {$layout_info->bodyWrap_repeat} {$layout_info->bodyWrap_array} 0; }
<!--@end-->
<!--@if($layout_info->header_image)-->
.headerWrap { background:url({$layout_info->header_image}) {$layout_info->header_repeat} {$layout_info->header_array} 0; }
<!--@end-->
<!--@if($layout_info->header_image_height)-->
.headerWrap { height:{$layout_info->header_image_height}px; }
div.bg { background-position:center {$layout_info->header_image_height}px; }
<!--@end-->
<!--@if($layout_info->footer_image)-->
#footer { background:url({$layout_info->footer_image}) {$layout_info->footer_repeat} {$layout_info->footer_array} 0; }
<!--@end-->
<!--@if($layout_info->footer_image_height)-->
#footer { height:{$layout_info->footer_image_height}px; }
#footer .foot_bg { height:{$layout_info->footer_image_height}px; }
<!--@end-->
<!--@if($layout_info->memberProfile_right)-->
.top_gnb .memberProfile { right:{$layout_info->memberProfile_right}px; }
<!--@end-->
<!--@if($layout_info->head_ad_1_left)-->
.head_ad_1 { left:{$layout_info->head_ad_1_left}px; }
<!--@end-->
<!--@if($layout_info->head_ad_1_top)-->
.head_ad_1 { top:{$layout_info->head_ad_1_top}px; }
<!--@end-->
<!--@if($layout_info->head_ad_2_left)-->
.head_ad_2 { left:{$layout_info->head_ad_2_left}px; }
<!--@end-->
<!--@if($layout_info->head_ad_2_top)-->
.head_ad_2 { top:{$layout_info->head_ad_2_top}px; }
<!--@end-->
<!--@if($layout_info->head_ad_3_right)-->
.head_ad_3 { right:{$layout_info->head_ad_3_right}px; }
<!--@end-->
<!--@if($layout_info->head_ad_3_top)-->
.head_ad_3 { top:{$layout_info->head_ad_3_top}px; }
<!--@end-->
<!--@if($layout_info->main_2menu == "N2")-->
.main_menu { height:37px; }
.main_menu { border-bottom:0 solid #dedede; }
.isSearch { top:6px; right:5px; }
.slideWrap .slideArea #updown { top:-36px; }
<!--@end-->
<!--@if($layout_info->head_ad_4_left)-->
.main_menu .head_ad_4 { left:{$layout_info->head_ad_4_left}px; }
<!--@end-->
<!--@if($layout_info->head_ad_4_top)-->
.main_menu .head_ad_4 { top:{$layout_info->head_ad_4_top}px; }
<!--@end-->
<!--@if($layout_info->head_ad_5_right)-->
.main_menu .head_ad_5 { right:{$layout_info->head_ad_5_right}px; }
<!--@end-->
<!--@if($layout_info->head_ad_5_top)-->
.main_menu .head_ad_5 { top:{$layout_info->head_ad_5_top}px; }
<!--@end-->
<!--@if($layout_info->head_logo_top)-->
.headerWrap h1 { top:{$layout_info->head_logo_top}px; }
<!--@end-->
<!--@if($layout_info->head_logo_left)-->
.headerWrap h1 { left:{$layout_info->head_logo_left}px; }
<!--@end-->
<!--@if($layout_info->main_menu_font)-->
.main_menu .gnb li { font-family:{$layout_info->main_menu_font}; }
.main_menu .roll_gnb li { font-family:{$layout_info->main_menu_font}; }
#drop_gnb li { font-family:{$layout_info->main_menu_font}; }
.gnb2 li { font-family:{$layout_info->main_menu_font}; }
.roll_gnbSub li { font-family:{$layout_info->main_menu_font}; }
#drop_gnb .ul2 li { font-family:{$layout_info->main_menu_font}; }
<!--@end-->
<!--@if($layout_info->main_menu_font_color)-->
.main_menu .gnb li a, .main_menu .gnb li a:hover, .main_menu .gnb li a:focus, .main_menu .gnb li a:visited, .main_menu .gnb li.on a { color:{$layout_info->main_menu_font_color} }
.main_menu .roll_gnb li a, .main_menu .roll_gnb li a:hover, .main_menu .roll_gnb li a:focus, .main_menu .roll_gnb li a:visited, .main_menu .roll_gnb li.on a { color:{$layout_info->main_menu_font_color} }
#drop_gnb .a1, #drop_gnb .a1:hover, #drop_gnb .a1:focus, #drop_gnb .on1 .a1 { color:{$layout_info->main_menu_font_color} }
<!--@end-->
<!--@if($layout_info->main_menu_font_weight == "light")-->
.main_menu .gnb li a { font-weight:normal; }
.main_menu .roll_gnb li a { font-weight:normal; }
#drop_gnb .a1 { font-weight:normal; }
<!--@end-->
<!--@if($layout_info->main_menu_font_size)-->
.main_menu .gnb li { font-size:{$layout_info->main_menu_font_size}px; }
.main_menu .roll_gnb li { font-size:{$layout_info->main_menu_font_size}px; }
#drop_gnb .li1 { font-size:{$layout_info->main_menu_font_size}px; }
<!--@end-->
<!--@if($layout_info->main_menu_font_paddingT)-->
.main_menu .gnb li a span { padding:{$layout_info->main_menu_font_paddingT}px 9px; }
.main_menu .roll_gnb li a span { padding:{$layout_info->main_menu_font_paddingT}px 9px; }
#drop_gnb .a1 span { padding:{$layout_info->main_menu_font_paddingT}px 9px; }
<!--@else-->
<!--@if($layout_info->main_menu_font_paddingR)-->
.main_menu .gnb li a span { padding:12px {$layout_info->main_menu_font_paddingR}px; }
.main_menu .roll_gnb li a span { padding:12px {$layout_info->main_menu_font_paddingR}px; }
#drop_gnb .a1 span { padding:12px {$layout_info->main_menu_font_paddingR}px; }
<!--@end-->
<!--@end-->
<!--@if($layout_info->main_menu_font_paddingT && $layout_info->main_menu_font_paddingR)-->
.main_menu .gnb li a span { padding:{$layout_info->main_menu_font_paddingT}px {$layout_info->main_menu_font_paddingR}px; }
.main_menu .roll_gnb li a span { padding:{$layout_info->main_menu_font_paddingT}px {$layout_info->main_menu_font_paddingR}px; }
#drop_gnb .a1 span { padding:{$layout_info->main_menu_font_paddingT}px {$layout_info->main_menu_font_paddingR}px; }
<!--@end-->
<!--@if($layout_info->main_2menu_font_color)-->
.gnb2 li a:hover, .gnb2 li a:focus .gnb2 li.on a { color:{$layout_info->main_2menu_font_color} !important; }
.roll_gnbSub li a:hover, .roll_gnbSub li a:focus .roll_gnbSub li.on a { color:{$layout_info->main_2menu_font_color} !important; }
#drop_gnb .ul2 a:hover, #drop_gnb .ul2 a:focus, #drop_gnb .on2 .a2, #drop_gnb .on3 .a3, #drop_gnb .on4 .a4 { color:{$layout_info->main_2menu_font_color} }
<!--@end-->
<!--@if($layout_info->main_2menu_font_size)-->
.gnb2 li { font-size:{$layout_info->main_2menu_font_size}px; }
.roll_gnbSub li { font-size:{$layout_info->main_2menu_font_size}px; }
#drop_gnb .ul2 li { font-size:{$layout_info->main_2menu_font_size}px; }
<!--@end-->
<!--@if($layout_info->side_menu_font)-->
.lnb li { font-family:{$layout_info->side_menu_font}; }
<!--@end-->
<!--@if($layout_info->main_bannerLeft_top)-->
.main_bannerLeft { top:{$layout_info->main_bannerLeft_top}px; }
<!--@end-->
<!--@if($layout_info->main_bannerLeft_left)-->
.main_bannerLeft { left:{$layout_info->main_bannerLeft_left}px; }
<!--@end-->
<!--@if($layout_info->main_bannerRight_top)-->
.main_bannerRight { top:{$layout_info->main_bannerRight_top}px; }
<!--@end-->
<!--@if($layout_info->main_bannerRight_right)-->
.main_bannerRight { right:{$layout_info->main_bannerRight_right}px; }
<!--@end-->
<!--@if($layout_info->gSearch_s_top)-->
.gSearch { top:{$layout_info->gSearch_s_top}px; }
<!--@end-->
<!--@if($layout_info->gSearch_s_left)-->
.gSearch { left:{$layout_info->gSearch_s_left}px; }
<!--@end-->
<!--@if($layout_info->isSearch_s_top)-->
.isSearch { top:{$layout_info->isSearch_s_top}px; }
<!--@end-->
<!--@if($layout_info->isSearch_s_right)-->
.isSearch { right:{$layout_info->isSearch_s_right}px; }
<!--@end-->
<!--@if($layout_info->isSearch_s_width)-->
.isSearch .inputText { width:{$layout_info->isSearch_s_width}px; }
<!--@end-->
<!--@if($layout_info->select_lang_top)-->
.select_language { top: {$layout_info->select_lang_top}px; }
<!--@end-->
<!--@if($layout_info->select_lang_right)-->
.select_language { right: {$layout_info->select_lang_right}px; }
<!--@end-->
<!--@if($layout_info->quick_width)-->
#quick_go .extension .section { width:{$layout_info->quick_width}px }
<!--@end-->
<!--@if($layout_info->quick_paddingR)-->
#quick_go .extension .section { padding:0 {$layout_info->quick_paddingR}px 0 0; }
<!--@end-->
<!--@if($layout_info->sitemap_width)-->
#sitemap .extension .section { width:{$layout_info->sitemap_width}px; }
#sitemap2 .extension .section { width:{$layout_info->sitemap_width}px; }
<!--@end-->
<!--@if($layout_info->sitemap_paddingR)-->
#sitemap .extension .section { padding:0 {$layout_info->sitemap_paddingR}px 0 0; }
<!--@end-->
<!--@if($layout_info->new_icon_left)-->
.main_menu .new_bg { left:{$layout_info->new_icon_left}px; }
<!--@end-->
<!--@if($layout_info->hot_icon_left)-->
.main_menu .hot_bg { left:{$layout_info->hot_icon_left}px; }
<!--@end-->
<!--@if($layout_info->up_icon_left)-->
.main_menu .up_bg { left:{$layout_info->up_icon_left}px; }
<!--@end-->
</style>

<!-- Top Menu -->
<!--@if($layout_info->topmenu == "N")-->
<!--@else-->
<div class="top_gnb">
	<div class="top_box">

		<!-- .gnb -->
		<div class="gnb">
			<p>{$layout_info->top_left}</p>

			<ul class="fRight">
				<!--@if($is_logged)-->

				<li style="_margin-top:4px"><span class="member_{$logged_info->member_srl}">{$logged_info->nick_name}{$lang->logged_message}</span></li>
				<!--@if($logged_info->is_admin=="Y")-->
				<li><a href="{getUrl('','module','admin')}" onclick="window.open(this.href);return false;" onfocus="this.blur()" title="{$lang->cmd_management}"><span>[{$lang->cmd_management}]</span></a></li>
				<!--@end-->

				<li><a href="{getUrl('act','dispMemberLogout')}"><span>{$lang->cmd_logout}</span></a></li>
				<li class="my myProfile"><a href="#" onclick="return false"><span>{$lang->profile}</span></a>
					<ul>
						<!--@foreach($logged_info->menu_list as $key => $val)-->
						<li><a href="{getUrl('act',$key,'member_srl','')}">{Context::getLang($val)}</a></li>
						<!--@endif-->
					</ul>
				</li>
				<!--@else-->
				<li><a href="#LW" id="loginAnchor" class="loginTrigger" accesskey="L" title="{$lang->cmd_login}"><span>{$lang->cmd_login}</span></a></li>
				<li><a href="{getUrl('act','dispMemberSignUpForm')}" title="{$lang->cmd_signup}"><span>{$lang->cmd_signup}</span></a></li>
				<!--@end-->

				<!-- Select Language -->
				<!--@if($layout_info->select_lang == "1")-->
				<li class="my myLanguage"><a href="#" onclick="return false" title="Select Language"><span>{$lang_supported[$lang_type]}</span></a>
					<ul>
						<!--@foreach($lang_supported as $key => $val)-->
						<!--@if($key== $lang_type)-->
						<li class="selected"><a href="#">{$lang_supported[$lang_type]}</a></li>
						<!--@else-->
						<li><a href="#" onclick="doChangeLangType('{$key}'); return false;">{$lang_supported[$key]}</a></li>
						<!--@end-->
						<!--@end-->
					</ul>
				</li>
				<!--@end-->
				<!-- /Select Language -->

				<!--@foreach($top_menu->list as $key => $val)-->
				<li><a href="{$val['href']}"<!--@if($val['open_window']=='Y')--> onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a></li>
				<!--@end-->

			</ul>
		</div>
		<!-- /.gnb -->

	</div>
	<div class="top_bg"></div>
</div>
<!--@end-->
<!-- /Top Menu -->

<div id="xe" class="bg">

<!-- Body -->
<div class="bodyWrap">

	<!-- Header -->
	<div class="headerWrap">

		<!--@if($layout_info->header_flash)-->
		{$layout_info->header_flash}
		<!--@end-->

		<!--@if($layout_info->logo_image)-->
		<h1><a href="{$layout_info->index_url}"><img src="{$layout_info->logo_image}" alt="{$layout_info->site_name}" border="0" class="iePngFix" /></a></h1>
		<!--@elseif($layout_info->x_layout_type == "main")-->
		<h1><a href="{$layout_info->index_url}"><img src="./images/logo_xe.gif" alt="{$layout_info->site_name}" title="{$layout_info->site_name}" class="iePngFix" /></a></h1>
		<!--@else-->
		<h1><a href="{$layout_info->index_url}"><img src="./images/logo_s_xe.png" alt="{$layout_info->site_name}" title="{$layout_info->site_name}" class="iePngFix" /></a></h1>
		<!--@end-->

		<!-- Main Search Window Top -->
		<div class="head_ad_1">{$layout_info->head_ad_1}</div>
		<!-- /Main Search Window Top -->

		<!-- Search Window -->
		<!--@if($layout_info->gSearch_s == "1")-->
		<!--@if($layout_info->x_layout_type == "main")-->
		<form action="{getUrl()}" id="cse-search-box" class="gSearch">
			<div>
				<input type="hidden" name="cx" value="partner-pub-8278444203493355:bly7cgcmpo4" />
				<input type="hidden" name="cof" value="FORID:10" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="mid" value="search" />
				<input type="text" name="q" size="47" class="inputText Search watermark" onfocus="this.className='inputText Search';" onblur="if (!this.value) this.className='inputText Search watermark'" />
				<span class="buttonl xLarge"><input type="submit" name="sa" value="{$lang->cmd_search}" /></span>
			</div>
		</form>

		<!--@else-->
		<form action="{getUrl()}" id="cse-search-box" class="gSearch">
			<div>
				<input type="hidden" name="cx" value="partner-pub-8278444203493355:bly7cgcmpo4" />
				<input type="hidden" name="cof" value="FORID:10" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="mid" value="search" />
				<input type="text" name="q" size="41" class="inputText iSearch watermark2" onfocus="this.className='inputText iSearch';" onblur="if (!this.value) this.className='inputText iSearch watermark2'" />
				<span class="buttonl large"><input type="submit" name="sa" value="{$lang->cmd_search}" /></span>
			</div>
		</form>

		<!--@end-->
		<!--@end-->
		<!--@if($layout_info->gSearch_s == "2")-->
		<!--@if($layout_info->x_layout_type == "main")-->
		<form action="{getUrl()}" method="post" class="gSearch">
			<!--@if($vid)-->
			<input type="hidden" name="vid" value="{$vid}" />
			<!--@end-->
			<input type="hidden" name="mid" value="search" />
			<input type="hidden" name="act" value="IS" />
			<input type="hidden" name="search_target" value="title_content" />
			<input type="text" name="is_keyword" value="{$is_keyword}" class="inputText Search" title="{$lang->msg_no_keyword}" />
			<span class="buttonl xLarge"><input type="submit" name="" value="{$lang->cmd_search}" /></span>
		</form>
		<!--@else-->
		<form action="{getUrl()}" method="post" class="gSearch">
			<!--@if($vid)-->
			<input type="hidden" name="vid" value="{$vid}" />
			<!--@end-->
			<input type="hidden" name="mid" value="search" />
			<input type="hidden" name="act" value="IS" />
			<input type="hidden" name="search_target" value="title_content" />
			<input type="text" name="is_keyword" value="{$is_keyword}" class="inputText iSearch" title="{$lang->msg_no_keyword}" />
			<span class="buttonl large"><input type="submit" name="" value="{$lang->cmd_search}" /></span>
		</form>
		<!--@end-->
		<!--@end-->
		<!-- /Search Window -->

		<!-- Main Search Window Bottom -->
		<!--@if($layout_info->x_layout_type == "main")-->
		<div class="head_ad_2">{$layout_info->head_ad_2}</div>
		<!--@end-->
		<!-- /Main Search Window Bottom -->

		<!-- Header Right -->
		<!--@if($layout_info->head_ad_3)-->
		<div class="head_ad_3">{$layout_info->head_ad_3}</div>
		<!--@end-->
		<!-- /Header Right -->

		<!-- Select Language -->
		<!--@if($layout_info->select_lang == "2")-->
		<div class="select_language">{@$tmp=0;}
			<span class="language_title">Select Language </span>
			<div class="language_line">
				<span class="select_language_button"><button type="button" title="Select Language">{$lang_supported[$lang_type]}</button></span>
				<ul>
					<!--@foreach($lang_supported as $key => $val)--><!--@if($key != $lang_type)-->
						{@$tmp++}
						<li><button type="button" onclick="doChangeLangType('{$key}');return false;"><span>{$val}</span></button></li>
					<!--@end--><!--@end-->
				</ul>
			</div>
			<!--@if($tmp==0)-->
				<style type="text/css">.select_language { display:none; }</style>
			<!--@end-->
		</div>
		<!--@end-->
		<!-- /Select Language -->

	</div>
	<!-- /Header -->

	<!-- Main Menu -->
	<!--@if($layout_info->main_menu_type == "N")-->
	<!--@else-->
	<div id="menuWrap" class="main_menu">

		<!-- Basic Menu -->
		<!--@if($layout_info->main_menu_type == "1")-->

		<!--GNB-->
		<ul class="gnb">
			<!-- main_menu 1st -->
			<!--@foreach($main_menu->list as $key => $val)-->
			<!--@if($val['link'])-->
			<!--@if($val['selected'])-->
			{@ $menu_1st = $val }
			<!--@end-->
			<li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a>
			</li>
			<!--@endif-->
			<!--@endforeach-->
		</ul>
		<!--//GNB-->

		<!--GNB2-->
		<!--@if($layout_info->main_2menu == "Y")-->
		<ul class="gnb2">
			<!-- main_menu 2nd -->
			<!--@foreach($menu_1st['list'] as $key => $val)-->
			<!--@if($val['link'])-->
			<!--@if($menu_1st)-->
			{@ $idx = 1 }
			<li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a>
			</li>
			{@$idx++}
			<!--@end-->
			<!--@end-->
			<!--@else-->
			<li></li>
			<!--@end-->
		</ul>
		<!--@end-->
		<!--//GNB2-->

		<!--@end-->
		<!-- /Basic Menu -->

		<!-- Rollover Menu -->
		<!--@if($layout_info->main_menu_type == "2" || $layout_info->main_menu_type == "3")-->

		<!--GNB-->
		<ul id="roll_gnb" class="roll_gnb">
			<!-- main_menu 1st -->
			{@$gnb_count = 0;}
			<!--@foreach($main_menu->list as $key => $val)-->
			<!--@if($val['link'])-->
			<!--@if($val['selected'])-->
			{@ $menu_1st = $val }
			<!--@end-->

			<!--@if($layout_info->main_menu_type == "2")-->
			<li id="gnbli{$gnb_count}" <!--@if($val['selected'])-->class="selected"<!--@end--> onmouseover="gnbinToggle({$gnb_count}, this)" ><a href="{$val['href']}" onfocus="this.blur()" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a></li>
			{@$gnb_count++;}
			<!--@end-->

			<!--@if($layout_info->main_menu_type == "3")-->
			<li id="gnbli{$gnb_count}" <!--@if($val['selected'])-->class="selected"<!--@end--> onmouseover="gnbinToggle3({$gnb_count}, this)" ><a href="{$val['href']}" onfocus="this.blur()" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a></li>
			{@$gnb_count++;}
			<!--@end-->

			<!--@end-->
			<!--@end-->
		</ul>
		<!--//GNB-->

		<script type="text/javascript">
			var gnb_count = {$gnb_count};
		</script>
		<!-- 2nd Menu -->
		{@$gnb_count = 0;}
		<!--@foreach($main_menu->list as $mkey => $mval)-->
		<!--@if($mval['text'])-->
		<!-- Left 2nd Menu -->
		<!--@if($mval['selected'])-->
		<ol id="gnb{$gnb_count}" class="roll_gnbSub" style="display:block;">
		<!--@if($layout_info->main_2menu == "Y")-->
			<!--@if(!$mval['list'])-->
			<li></li>
			<!--@end-->
			<!--@foreach($mval['list'] as $key => $val)-->
			<!--@if($val['text'])-->
			<li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" onfocus="this.blur();" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a></li>
			<!--@end-->
			<!--@end-->
		<!--@else-->
		<li></li>
		<!--@end-->
		</ol>

		<!--@if($layout_info->main_menu_type == "2")-->
		<script type="text/javascript">
			var gnb_count_now = {$gnb_count};
			reset_menu();
		</script>
		<!--@end-->

		<!--@if($layout_info->main_menu_type == "3")-->
		<script type="text/javascript">
			var gnb_count_now = {$gnb_count};
			reset_menu3();
		</script>
		<!--@end-->

		<!--@else-->
		<ol id="gnb{$gnb_count}" class="roll_gnbSub" style="display:none;">
		<!--@if($layout_info->main_2menu == "Y")-->
			<!--@if(!$mval['list'])-->
			<li></li>
			<!--@end-->
			<!--@foreach($mval['list'] as $key => $val)-->
			<!--@if($val['text'])-->
			<li><a href="{$val['href']}" onfocus="this.blur();" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><!--@if($val['text'] == $val['link'])--><span>{$val['text']}</span><!--@else-->{$val['link']}<!--@end--></a> </li>
			<!--@end-->
			<!--@end-->
		<!--@else-->
		<li></li>
		<!--@end-->
		</ol>
		<!--@end-->
		{@$gnb_count++;}
		<!--@end-->
		<!--@end-->

		<!--@end-->
		<!-- /Rollover Menu -->

		<!-- Dropdown Menu -->
		<!--@if($layout_info->main_menu_type == "4")-->

		<!-- #gnb by 蹫 || Elkha (elkha1914@hotmail.com) -->
		<div id="drop_gnb">
			<ul class="ul1">
				<!--@foreach($main_menu->list as $key => $val)-->
				<!--@if($val['link'])-->
				<!--@if($val['selected'])-->
				{@ $menu_1st = $val }
				<!--@end-->
				<li class="li1<!--@if($val['selected'])-->{@$selected=$val} on1<!--@end-->">
					<a href="{$val['href']}" class="a1 <!--@if($val['selected'])-->selectedR<!--@end-->"<!--@if($val["open_window"]=="Y")--> onclick="window.open(this.href); return false;"<!--@end-->><!--@if($val["text"] == $val["link"])--><span>{$val["text"]}</span><!--@else-->{$val["link"]}<!--@end--></a>
					<!--@if($val["list"])-->
					<ul class="ul2">
						<!--@foreach($val["list"] as $v)--><!--@if($v["link"])-->
						<li class="li2 box-shadow<!--@if($v['selected'])--> on2<!--@end--><!--@if($v['list'])--> sub2<!--@end-->">
							<a href="{$v['href']}" class="a2"<!--@if($v["open_window"]=="Y")--> onclick="window.open(this.href); return false;"<!--@end-->><!--@if($v["text"] == $v["link"])--><span>{$v["text"]}</span><!--@else-->{$v["link"]}<!--@end--></a>
							<!--@if($v["list"])-->
							<ul class="ul3">
								<!--@foreach($v["list"] as $va)--><!--@if($va["link"])-->
								<li class="li3 box-shadow<!--@if($va['selected'])--> on3<!--@end--><!--@if($va['list'])--> sub3<!--@end-->">
									<a href="{$va['href']}" class="a3"<!--@if($va["open_window"]=="Y")--> onclick="window.open(this.href); return false;"<!--@end-->><!--@if($va["text"] == $va["link"])--><span>{$va["text"]}</span><!--@else-->{$va["link"]}<!--@end--></a>
									<!--@if($va["list"])-->
									<ul class="ul4">
										<!--@foreach($va["list"] as $vl)--><!--@if($vl["link"])-->
										<li class="li4 box-shadow<!--@if($vl['selected'])--> on4<!--@end-->">
											<a href="{$vl['href']}" class="a4"<!--@if($vl["open_window"]=="Y")--> onclick="window.open(this.href); return false;"<!--@end-->><!--@if($vl["text"] == $vl["link"])--><span>{$vl["text"]}</span><!--@else-->{$vl["link"]}<!--@end--></a>
										</li>
										<!--@end--><!--@end-->
									</ul>
									<!--@end-->
								</li>
								<!--@end--><!--@end-->
							</ul>
							<!--@end-->
						</li>
						<!--@end--><!--@end-->
					</ul>
					<!--@end-->
				</li>
				<!--@end--><!--@end-->
			</ul>
		</div>
		<!-- // #gnb by 蹫 || Elkha (elkha1914@hotmail.com) -->

		<!--@end-->
		<!-- /Dropdown Menu -->

		<!-- Menu Bar Right Bottom Search Window -->
		<!--@if($layout_info->isSearch_s == "1")-->
		<form action="{getUrl()}" method="post" class="isSearch">
			<!--@if($vid)-->
			<input type="hidden" name="vid" value="{$vid}" />
			<!--@end-->
			<input type="hidden" name="mid" value="search" />
			<input type="hidden" name="act" value="IS" />
			<input type="hidden" name="search_target" value="title_content" />
			<input type="text" name="is_keyword" value="{$is_keyword}" class="inputText xSearch" title="{$lang->msg_no_keyword}" />
			<input type="image" src="./images/{$layout_info->colorset}/buttonSearch.gif" alt="{$lang->cmd_search}" class="submit" />
		</form>
		<!--@end-->
		<!--@if($layout_info->isSearch_s == "2")-->
		<form action="{getUrl()}" id="cse-search-box" class="isSearch">
			<div>
				<input type="hidden" name="cx" value="partner-pub-8278444203493355:zev4zg-59yg" />
				<input type="hidden" name="cof" value="FORID:10" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="hidden" name="mid" value="search" />
				<input type="text" name="q" size="20" class="inputText ggSearch watermark3" onfocus="this.className='inputText ggSearch';" onblur="if (!this.value) this.className='inputText ggSearch watermark3'" />
				<input type="image" src="./images/{$layout_info->colorset}/buttonSearch.gif" alt="{$lang->cmd_search}" name="sa" class="submit" />
			</div>
		</form>
		<!--@end-->
		<!-- /Main Menu Bar Right Bottom Search Window -->

		<!-- Menu Bar Bottom -->
		<!--@if($layout_info->head_ad_4)-->
		<div class="head_ad_4">{$layout_info->head_ad_4}</div>
		<!--@end-->
		<!-- /Menu Bar Bottom -->
		<!-- Menu Bar Right -->
		<!--@if($layout_info->head_ad_5)-->
		<div class="head_ad_5">{$layout_info->head_ad_5}</div>
		<!--@end-->
		<!-- /Menu Bar Right -->

		<!--@if($layout_info->new_icon == "Y")-->
		<div class="new_bg"></div>
		<!--@end-->
		<!--@if($layout_info->hot_icon == "Y")-->
		<div class="hot_bg"></div>
		<!--@end-->
		<!--@if($layout_info->up_icon == "Y")-->
		<div class="up_bg"></div>
		<!--@end-->

	</div>
	<!--@end-->
	<!-- /Main Menu -->

	<!-- Slide Menu -->
	<!--@if($layout_info->slide_menu)-->
	<div class="slideWrap">
	    <div class="slideArea">
			<div id="slideMenu">
			    <div class="section">{$layout_info->slide_menu}</div>
			</div>
	    </div>
	</div>
	<!--@end-->
	<!--@if($layout_info->slide_updown == "Y")-->
	<div class="slideWrap">
	    <div class="slideArea">
		    <div id="updown">
			    <div class="up"><a href="javascript:window.scrollTo(0,0)" onfocus="blur();"><span>UP</span></a></div>
			    <div class="down"><a href="javascript:window.scrollTo(0,50000)" onfocus="blur();"><span>DOWN</span></a></div>
			</div>
	    </div>
	</div>
	<!--@else-->
	<div class="slideWrap"></div>
	<!--@end-->
	<!-- /Slide Menu -->

	<!-- Content Body  -->
	<div class="content_Body">

		<!--@if($layout_info->content_Body_top)-->
		<div class="content_Body_top">{$layout_info->content_Body_top}</div>
        <!--@end-->

		<!-- Left/Right Banner -->
		<div>
		<!--@if($layout_info->main_bannerLeft)-->
		<div class="main_bannerLeft">{$layout_info->main_bannerLeft}</div>
		<!--@end-->
		<!--@if($layout_info->main_bannerRight)-->
		<div class="main_bannerRight">{$layout_info->main_bannerRight}</div>
		<!--@end-->
		</div>
		<!-- /Left/Right Banner -->

        <!--@if($layout_info->x_layout_type == "1")-->
        <div class="columnContent">{$content}</div>
        <!--@else-->
        <div class="columnMenu">

		    <!--@if($layout_info->login_i == "Y")-->
		    <!--@if($layout_info->x_layout_type == "main" || $layout_info->x_layout_type == "2" || $layout_info->x_layout_type == "2d" || $layout_info->x_layout_type == "2a" || $layout_info->x_layout_type == "3a" || $layout_info->x_layout_type == "search")-->
		    <img src="./images/blank.gif" class="zbxe_widget_output" widget="login_info" skin="xdom_login_v2" colorset="{$layout_info->colorset}_{$layout_info->layout_style}_{$layout_info->x_layout_type}" />
		    <!--@end-->
		    <!--@end-->

		    <!--@if($layout_info->login_i == "outer")-->
			{$layout_info->login_i_outer}
		    <!--@end-->

	        <!-- Quick Menu -->
	        <!--@if($layout_info->quick_go == "N")-->
			<!--@else-->
          	<div id="quick_go" class="png_w80_bg">
			    <div class="extension">
					<!--@foreach($quick_menu->list as $key => $val)-->
					<!--@if($val['link'])-->
					<div class="section">
                        <h2><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a></h2>
                        <!--@if($val['list'])-->
						<ul>
                            <!--@foreach($val['list'] as $k => $v)-->
                            <!--@if($val['link'])-->
                            <li><a href="{$v['href']}" <!--@if($v['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$v['text']}</a></li>
                            <!--@end-->
                            <!--@end-->
                        </ul>
                        <!--@end-->
					</div>
					<!--@end-->
					<!--@end-->
			    </div>
		    </div>
			<!--@end-->
            <!-- /Quick Menu -->

            <!--@if($layout_info->plus_top)-->
            <div style="overflow: hidden;">
                    <div style="padding: 0 !important;">{$layout_info->plus_top}</div>
            </div>
            <!--@end-->

			<!-- Side Menu -->
			<!--@if($layout_info->side_menu_type == "N")-->
			<!--@else-->

				<!-- Basic Menu -->
				<!--@if($layout_info->side_menu_type == "1")-->
				<!--@if($menu_1st)-->
				<div class="lnbWrap png_w50_bg">
					<div class="subtitle">
						<h1>{$menu_1st['link']}</h1>
					</div>
					<ol class="lnb">
						{@ $idx = 1 }
						<!--@foreach($menu_1st['list'] as $key => $val)-->
						<!--@if($val['link'])-->
						<li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a>
							<!-- main_menu 3  -->
							<!--@if($val['list'] && ($val['expand']=='Y'||$val['selected']) )-->
							<ul>
								<!--@foreach($val['list'] as $k => $v)-->
								<!--@if($v['link'])-->
								<li <!--@if($v['selected'])-->class="on"<!--@end-->><a href="{$v['href']}" <!--@if($v['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$v['link']}</a>
								</li>
								<!--@endif-->
								<!--@endforeach-->
							</ul>
							<!--@endif-->
							</li>
							{@$idx++}
							<!--@endif-->
							<!--@endforeach-->
					</ol>
				</div>
				<!--@endif-->
				<!--@end-->
				<!-- /Basic Menu -->

				<!-- Tree Menu -->
				<!--@if($layout_info->side_menu_type == "2")-->
					<img class="zbxe_widget_output" widget="navigator" skin="tree" colorset="white" menu_srl="{$layout_info->tree_menu_number}" start_depth="1" />
				<!--@end-->
				<!--@if($layout_info->side_menu_type == "3")-->
					<img class="zbxe_widget_output" widget="navigator" skin="tree" colorset="white" menu_srl="{$layout_info->tree_menu_number}" start_depth="2" />
				<!--@end-->
				<!-- /Tree Menu -->

				<!-- Vertical Menu -->
				<!--@if($layout_info->side_menu_type == "4")-->
					<img class="zbxe_widget_output" widget="navigator" skin="vertNavigator" colorset="white" menu_srl="{$layout_info->tree_menu_number}" start_depth="1" />
				<!--@end-->
				<!--@if($layout_info->side_menu_type == "5")-->
					<img class="zbxe_widget_output" widget="navigator" skin="vertNavigator" colorset="white" menu_srl="{$layout_info->tree_menu_number}" start_depth="2" />
				<!--@end-->
				<!-- /Vertical Menu -->

			<!--@end-->
			<!-- /Side Menu -->

			<!--@if($layout_info->plus)-->
			<div style="overflow: hidden;">
				<div style="padding: 0 !important;">{$layout_info->plus}</div>
			</div>
			<!--@end-->

        </div>
        <!--@if($layout_info->x_layout_type == "3" || $layout_info->x_layout_type == "3a" || $layout_info->x_layout_type == "3b")-->
        <!--@if($layout_info->contentSide)-->
        <div class="contentSide">{$layout_info->contentSide}</div>
        <!--@else-->
        <div class="contentSide">
        <div class="taC pdT8 box1px">
			<script type="text/javascript"><!--
			google_ad_client = "pub-8278444203493355";
			/* 120x240,  08. 5. 18 */
			google_ad_slot = "5503149330";
			google_ad_width = 120;
			google_ad_height = 240;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
        </div>
        </div>
        <!--@end-->
        <!--@end-->
        <div class="columnContent png_w50_bg">
               <!--@if($layout_info->content_top)-->
               <div class="content_top">{$layout_info->content_top}</div>
               <!--@end-->
               {$content}
        </div>
        <!--@end-->

        <!--@if($layout_info->content_Body_bottom)-->
        <div class="content_Body_bottom">{$layout_info->content_Body_bottom}</div>
        <!--@end-->

		<!--@if($layout_info->banner_menu)-->
		<style type="text/css">
			#banner { float:left; background:#FFF; overflow:hidden; width:100%; padding:5px 0; }
			#banner img { border:1px solid #F2F2F2; }
			#inbanner { float:left; width:800%; }
			#banner1 { float:left; }
			#banner2 { float:left; }
		</style>
		<div id="banner">
			<div id="inbanner">
				<div id="banner1">
					<!--@foreach($banner_menu->list as $key => $val)-->
					<!--@if($val['link'])-->
					<a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a>
					<!--@endif-->
					<!--@endforeach-->
				</div>
				<div id="banner2"></div>
			</div>
		</div>
		<script>
		<!--
		var speed=40;
		var tab=document.getElementById("banner");
		var tab1=document.getElementById("banner1");
		var tab2=document.getElementById("banner2");
		tab2.innerHTML=tab1.innerHTML;
		function Marquee(){
		if(tab2.offsetWidth-tab.scrollLeft<=0)
		tab.scrollLeft-=tab1.offsetWidth
		else{
		tab.scrollLeft++;
		}
		}
		var MyMar=setInterval(Marquee,speed);
		tab.onmouseover=function() {clearInterval(MyMar)};
		tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};
		-->
		</script>
		<!--@end-->

	</div>
	<!-- /Content Body -->

	<!--@if($layout_info->svc_map == "Y")-->
	<div id="service_wrap">
		  <p class="left">{$lang->service_link}</p>
		  <ul class="svc_menu">
			   <!--@foreach($svc_menu->list as $key => $val)-->
			   <li><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a></li>
			   <!--@endforeach-->
		  </ul>
		  <div class="svc_right">
			   <a href="#sitemap" onclick="showHide('sitemap');return false;" title="{$lang->service_view_all}">{$lang->service_view_all}</a>
		  </div>
	      <div class="svc_bg"></div>
	</div>

	<!-- Sitemap -->
	<div id="sitemap" class="png_gray80_bg">
          <div class="extension">
               <!--@foreach($sitemap_menu->list as $key => $val)-->
               <!--@if($val['link'])-->
               <div class="section">
                   <h2><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a></h2>
                   <!--@if($val['list'])-->
                   <ul>
                       <!--@foreach($val['list'] as $k => $v)-->
                       <!--@if($val['link'])-->
                       <li><a href="{$v['href']}" <!--@if($v['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$v['text']}</a></li>
                       <!--@end-->
                       <!--@end-->
                   </ul>
                   <!--@end-->
               </div>
               <!--@end-->
               <!--@end-->
          </div>
	</div>
	<!-- /Sitemap -->
	<!--@end-->

	<!--@if($layout_info->svc_map == "S")-->
	<!-- Sitemap2 -->
	<div id="sitemap2" class="png_gray80_bg">
          <div class="extension">
               <!--@foreach($sitemap_menu->list as $key => $val)-->
               <!--@if($val['link'])-->
               <div class="section">
                   <h2><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a></h2>
                   <!--@if($val['list'])-->
                   <ul>
                       <!--@foreach($val['list'] as $k => $v)-->
                       <!--@if($val['link'])-->
                       <li><a href="{$v['href']}" <!--@if($v['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$v['text']}</a></li>
                       <!--@end-->
                       <!--@end-->
                   </ul>
                   <!--@end-->
               </div>
               <!--@end-->
               <!--@end-->
          </div>
	</div>
	<!-- /Sitemap2 -->
	<!--@end-->

	<!-- Footer -->
	<div id="footer" class="footer">
          <ul class="foot_menu">{@$tmp=0}
               <!--@foreach($bottom_menu->list as $key => $val)-->
               <li class="snb_{$tmp++}"><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a></li>
			   {@$tmp++}
               <!--@endforeach-->
          </ul>
          <!--@if($layout_info->footer_copyright)-->
          <p class="copyright">{$layout_info->footer_copyright}</p>
          <!--@end-->
          <!--@if($layout_info->footer_address)-->
          <address>
          <a href="mailto:{$layout_info->footer_address}" title="{$layout_info->footer_address}">E-mail : {$layout_info->footer_address}</a>
          </address>
          <!--@end-->
          <!--@if($layout_info->family_site == "N")-->
		  <!--@else-->
          <select onchange="if(this.value) window.open(this.value);">
               <option value="">Family Site</option>
               <!--@foreach($family_menu->list as $key => $val)-->
               <option value="{$val['href']}">{$val['text']}</option>
               <!--@endforeach-->
          </select>
          <!--@end-->
	      <div class="skinby">
		  <a href="http://kaiser96.cafe24.com/index.php?module=admin">[관리 메뉴]</a> skin by <a href="http://xdomplus.com" target="_blank">xdomplus.com</a>
		  </div>
	</div>
	<!-- /Footer -->
</div>
<!-- /Body -->
</div>

<!--@if(!$is_logged)-->
<div class="mwLogin">
    {@ $member_config = MemberModel::getMemberConfig(); }
    <!--%import("./filter/login.xml")-->
    <!--@if($member_config->enable_openid=='Y')--><!--%import("./filter/openid_login.xml")--><!--@end-->
	<div class="bg"></div>
	<div class="LW">
	<div id="loginW" class="gLogin">
		<a href="#loginAnchor" class="close" title="Close Login Layer">X</a>
		<form action="./" method="post" ruleset="@login" class="gLogin">
			<input type="hidden" name="act" value="procMemberLogin" />
			<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
			<fieldset>
				<legend>Login</legend>
				<div class="iClear">
					<label for="uid" class="iLabel">ID</label><input name="user_id" type="text" value="" id="uid" class="iText uid" />
				</div>
				<div class="iClear">
					<label for="upw" class="iLabel">PASSWORD</label><input name="password" type="password" value="" id="upw" class="iText upw" />
				</div>
				<p class="keeping"><input name="" type="checkbox" value="" class="iCheck" id="keepidW" /><label for="keepidW">{$lang->keep_signed}</label></p>
				<p class="warning">{$lang->about_keep_warning}</p>
				<span class="btnLogin"><input name="" type="submit" value="{$lang->cmd_login}" /></span>
				<ul class="help">
					<li class="first"><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>
					<li><a href="{getUrl('act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
					<!--@if($member_config->enable_openid=='Y')-->
					<li><a href="#" class="oAnchor">Open ID</a></li>
					<!--@endif-->
				</ul>
			</fieldset>
		</form>
		<!--@if($member_config->enable_openid=='Y')-->
        <!--%import("./filter/openid_login.xml")-->
		<form action="./" class="oLogin" method="post" onsubmit="return procFilter(this, openid_login)">
			<fieldset>
				<legend>Open ID Login</legend>
				<div class="iClear">
					<label for="oid" class="iLabel">Open ID</label><input name="openid" type="text" value="" id="oid" class="iText oid" />
				</div>
				<span class="btnLogin"><input name="" type="submit" value="{$lang->cmd_login}" /></span>
				<p class="help"><a href="#" class="gAnchor">XE ID</a></p>
			</fieldset>
		</form>
		<!--@endif-->
		<a href="#loginAnchor" class="close" title="Close Login Layer">X</a>
	</div>
	</div>
</div>
<!--@end-->

<!--[if IE 6]>
	<script stype="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">//<![CDATA[
	DD_belatedPNG.fix('.iePngFix');
	//]]></script>
<![endif]-->