#menu_location {
    border: 2px solid white;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#menu_location a {
    color: #000;
    text-decoration: none;
}

#menu_location a:hover {
    text-decoration: underline;
}