@charset "utf-8";

/* Top Menu */
.top_gnb { position:relative; width:100%; height:22px; font-size:11px; }
.top_gnb .top_bg { position:absolute; width:100%; height:22px; top:0; font-size:11px; background:#fff; opacity:.6; filter:alpha(opacity:60); }
.top_gnb .top_box { position:relative; width:980px; margin:0 auto; padding:3px 0 0 0; }
.top_gnb .top_left { position:absolute; width:300px; text-align:left; margin:0 auto; padding:0 0 0 0; }

/* Header */
.bodyWrap { width:980px; margin:0 auto 0 auto; }
.headerWrap { position:relative; width:980px; height:64px; }
.headerWrap h1 { position:absolute; left:0; top:0; margin:0; padding:0; }
.head_ad_1 { position:absolute; width:360px; left:154px; top:0; }
.head_ad_3 { position:absolute; top:0; right:0; text-align:right; }

/* Main Menu */
.main_menu { position:relative; width:980px; height:69px; margin:0 auto 3px; }
.main_menu .gnb { position:absolute; overflow:hidden; left:15px; white-space:nowrap; z-index:10; }
.main_menu .roll_gnb { position:absolute; overflow:hidden; left:15px; white-space:nowrap; margin:0; padding:0; z-index:10; }
#drop_gnb .li1 { left:15px; z-index:101; }

/* Main Menu Ad */
.main_menu .head_ad_4 { position:absolute; width:655px; left:15px; top:45px; }
.main_menu .head_ad_5 { position:absolute; width:300px; top:12px; right:10px; text-align:right; }

/* Main 2nd Menu */
.gnb2 { position:absolute; overflow:hidden; left:15px; top:42px; white-space:nowrap; margin:0; padding:0; z-index:11; }
.roll_gnbSub { position:absolute; overflow:hidden; left:15px; top:42px; white-space:nowrap; margin:0; padding:0; z-index:11; }

/* Search */
.gSearch { position:absolute; top:12px; left:154px; text-align:left; padding:0; }
.gSearch .inputText { position:relative; width:320px; height:20px; font-size:14px;font-weight:bold; vertical-align:middle; margin:0; padding:5px 2px 0px 5px; }
.gSearch .submit { vertical-align:middle; padding:0; }
.isSearch { position:absolute; top:40px; right:0; text-align:right; z-index:9; }
.isSearch .inputText { position:relative; width:164px; height:17px; vertical-align:middle; padding:5px 2px 0px 4px; }
.isSearch .submit { vertical-align:middle }

/* quick_go */
#quick_go a { text-decoration:none }
#quick_go a:hover,
#quick_go a:active,
#quick_go a:focus { text-decoration:underline }
#quick_go { margin:0 0 0 0;}
#quick_go .extension { *zoom:1; clear:both; position:relative; padding:10px 0 2px 10px; border-color:#dedede #dedede #dedede #dedede; border-style:solid; border-width:1px 1px 0 1px; }
#quick_go .extension:after { clear:both; display:block; content:""; }
#quick_go .extension .section { float:left; width:48px; margin:0; padding:0 5px 0 0; border-right:0 solid #e3e3e3; }
#quick_go .extension .section h2 { font-size:11px; margin:0 0 10px 0; }
#quick_go .extension .section a {}
#quick_go .extension .section ul { list-style:none; margin:0; padding:0; }
#quick_go .extension .section li { font-size:11px; letter-spacing:-1px; margin-bottom:8px; }

/* Side 2nd Menu */
.lnbWrap { overflow:hidden; margin:0 0 2px 0; padding:0 6px 0 6px; }
.lnbWrap .subtitle { width:106px; }
.lnbWrap .subtitle h1 { font-size:16px; font-weight:bold; letter-spacing:-2px; margin:0; padding:7px 0 7px 10px; }
.lnb { position:relative; margin:12px 0 9px 0; padding:0; }
.lnb li { overflow:hidden; list-style:none; }
.lnb li a { position:relative; display:block; height:15px; text-decoration:none; margin:0 0 0 4px; padding:5px 0 3px 8px; z-index:99; }
.lnb li.on a { font-weight:700; letter-spacing:-1px; text-decoration:none; }
.lnb li ul { position:relative; display:none; margin:2px 0 4px 15px; padding:0; }
.lnb li.on ul { display:block }
.lnb li ul li { position:relative; top:0; letter-spacing:-1px; }
.lnb li a:hover, .lnb li.on a:hover { text-decoration:underline }
.lnb li a:focus, .lnb li.on a:focus { text-decoration:none }
.lnb li ul li a { margin:0; padding:2px 0 0 6px; font-weight:normal !important; letter-spacing:normal !important; background:url(../images/blank.gif) no-repeat 0 5px !important; border:0 !important;}
.lnb li.on ul li a { margin:0; padding:2px 0 0 6px; font-weight:normal !important; letter-spacing:normal !important; background:url(../images/blank.gif) no-repeat 0 5px !important; border:0 !important;}
.lnb li.on ul li.on a { font-weight:bold !important; letter-spacing:-1px !important; }

/* Content Body */
.content_Body { clear:both; position:relative; width:980px; margin:3px 0 0 0; padding-bottom:1px; }
.content_Body_top { float:left; overflow:hidden; width:980px; }
.content_Body_bottom { float:left; overflow:hidden; width:980px; }
.columnMenu { position:relative; float:left; width:120px; }
.columnContent { float:right; overflow:hidden; width:843px; }
.main_bannerLeft { position:absolute; left:-80px; top:0; z-index:100; }
.main_bannerRight { position:absolute; top:0; right:-80px; text-align:right; z-index:100; }