#menu_location {font-size:11px; height:30px; line-height:30px; color:#9b9b9b; overflow:hidden; margin:0 0 20px 0; padding:0; margin-top:-35px; position:absolute; width:400px; margin-left:275px;}
#menu_location ul { margin:0; padding:0;}
#menu_location li { list-style:none; float:right; padding-left:10px;}

#menu_location a.dep1,
#menu_location a:visited {display:inline-block; height:30px; background:url(../images/bc_separator.gif) no-repeat right top; padding-right: 15px; text-decoration: none; color:#666;}
#menu_location a.dep2,
#menu_location a:visited {display:inline-block; height:30px; background:none; padding-right: 15px; text-decoration: none; color:#666;}
#menu_location a.dep3,
#menu_location a:visited {display:inline-block; height:30px; background:none; padding-right: 15px; text-decoration: none; color:#666;}
#menu_location a.dep4,
#menu_location a:visited {display:inline-block; height:30px; background:none; padding-right: 15px; text-decoration: none; color:#666;}
#menu_location a.home,
#menu_location a:visited {display:inline-block; height:30px; background:url('http://kaiser96.cdn2.cafe24.com/img/bc_separator.gif') no-repeat right top; padding-right: 15px; text-decoration: none; color:#666;}
#menu_location .home { border:none; }
#menu_location .home img {margin:5px 0 0 0;}
#menu_location a:hover {color:#333;}